<div class="container" <div="" style="background: url('<%= asset_path("Board-room.jpg") %>') repeat scroll 0% 0% / cover ; height: 500px; margin-left: 20px; margin-right: 20px; background-attachment: fixed">
  <div class="transparent-container">
    <div class="title-text">
    <h1 class="title-text"><b style="border-top-style: solid; border-top-width: 0px;"><i style="margin-left: 100px;">Management Bios</i></b></h1><br>
      <div class="waterMark gradient">
        <% @bios.each do |bio| %>
        <ul>
        <li style= "margin: 0px 200px 0px; font-size: 140%"><%=link_to bio.name, bio_path(bio)%></li>
        </ul>
        <% end %>
        <li style= "margin-bottom: -43px"></li>
      </div>
    </div>
  </div>
</div>
