<div class="title">
  <h1 style="margin-right: 400px;" class="text-center">Manchester</h1>
  <h1 style="margin-bottom: 0px; margin-top: -20px; margin-right: 200px;" class="text-center">Explorer</h1>
</div>
