<div class="title">
  <body style="border-left-width: 0px; border-left-style: solid; border-right-width: 0px; border-right-style: solid; margin-left: 20px; margin-right: 20px;">
  <h1 style="margin-right: 400px;" class="text-center">Manchester</h1>
  <h1 style="margin-bottom: 0px; margin-top: -20px; margin-right: 200px;" class="text-center">Explorer, L.P.</h1>
  </body>
</div>
