<div class="transparent-container">
<div class="title">
  <body style="border-left-width: 0px; border-left-style: solid; border-right-width: 0px; border-right-style: solid; margin-left: 20px; margin-right: 20px;">
  <h1 style="margin-right: 600px"; class="text-center title-text"><b>Manchester</b></h1>
  <h1 style="margin-bottom: 0px; margin-top: -20px; margin-right: 450px;" class="text-center title-text"><b>Explorer, L.P.</b></h1>
  </body>
</div>
</div>
