<div class="transparent-container">
    <div class="large-1 large-1 columns">
    <h3><i>Investment Philosophy</i></h3>
    <p>Manchester Explorer, L.P., a Delaware limited partnership (the "Partnership"), will focus on long positions in special situations where there may be limited downside risk because the company has been misvalued by the market. The Partnership will invest in stocks where there is a potential for a significant return in a 12 to 18 month time horizon. The General Partner believes that well researched, concentrated investments in exciting or misunderstood industries will provide an excellent return, generally independent of the S&P 500. The Partnership will also use short sales to hedge its long positions in periods of market uncertainty and to opportunistically take advantage of catalyst driven situations likely to result in large declines in the value of companies.<p>
    </div>
  </div>
