  <footer class="site-footer">
      <div class="row">
        <div class="small-2 large-3 columns">
          <h3>Who We Are</h3>
          <a href="#">Leadership</a><br>
          <a href="#">History</a><br>
          <a href="#">Academic Focus</a><br>
          <a href="#">Know More</a><br>
          <a href="#">Help</a><br>
        </div>
        <div class="small-2 large-3 columns">
          <h3><a href="#">Investment Philosophy</a></h3>
        </div>
        <div class="small-2 large-3 columns">
          <h3>Library</h3>
          <a href="#">Journal Articles</a><br>
          <a href="#">Data Sets</a><br>
          <a href="#">Working Papers</a><br>
          <a href="#">Books and Periodicals</a><br>
          <a href="#">Videos</a><br>
          <a href="#">Glossary</a><br>
        </div>
        <div class="small-2 large-3 columns">
          <h3>Contact</h3>
          <span>ManchesterExplorer@mgfund.com</span>
        </div>
      </div>
    <div class="text-center">
      <h6>© 2015 Manchester Explorer, L.P. </h6>
    </div>
    </footer>
