<footer style="margin-left: 20px; margin-right: 20px; border:solid 1px black" class="site-footer">
      <div class="row">
        <div class="small-2 large-3 columns">
          <h4><i>Who We Are</i></h4>
          <a href="/bios"; style= "color: #000099; font-size: 80%">Management Bios</a><br>
          <a href="#"<a style= "color: #000099; font-size: 80%">History</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Academic Focus</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Know More</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Help</a><br>
        </div>
        <div class="small-2 large-3 columns">
          <h4><i><a href="/investmentphilosophy"; style= "color: #000099;">Investment Philosophy</a></i></h4>
        </div>
        <div class="small-2 large-3 columns">
          <h4><i>Library</i></h4>
          <a href="#"><a style= "color: #000099; font-size: 80%">Journal Articles</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Data Sets</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Books and Periodicals</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Videos</a><br>
          <a href="#"><a style= "color: #000099; font-size: 80%">Glossary</a><br>
        </div>
        <div class="small-2 large-3 columns">
          <h4><i>Contact</i></h4>
          <a href="#"><a style= "color: #000099; font-size: 80%">ManchesterExplorer@mgfund.com</a></a>
        </div>
      </div><br>
    <div class="text-center">
      <h8>© 2015 Manchester Explorer, L.P.   All rights reserved.</h8>
    </div>
    </footer>
